.articles-wrapper__adm {
  margin: 0 auto;
}
.form-ins {
  display: block;
  width: 100%;
  border: 2px solid #ff7b62;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 10px;
}
#txttitleins {
  width: 100%;
  font-size: 20px;
  line-height: 1.6;
  padding: 6px 0 4px 10px;
  border: 2px solid #ff7b62;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
#txttextins {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 2px solid grey;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#txttextins:focus {
  min-height: 300px;
}
.table-adm {
  font-size: 16px;
  line-height: 1.6;
  border: 2px solid #ff7b62;
  margin-top: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border-collapse: collapse;
}
.table-adm td {
  border: 1px solid #fff;
}
.form-edit__adm {
  width: 100%;
  min-height: 300px;
  display: block;
}
