.articles {
  padding-top: 40px;
}
.articles-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.article {
  width: 100%;
  display: block;
  margin: 10px auto;
  background-color: #ff7b62;
  padding: 10px;
  border: 5px solid #000;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.art_title {
  margin-top: 5px;
  font-size: 26px;
  text-align: left;
  color: #fff;
}
.art_date {
  font-size: 14px;
  float: right;
  display: block;
  margin-top: 5px;
}
.art_text {
  font-size: 20px;
  margin: 20px;
  line-height: 1.6;
}
